* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: rgb(43,9,9);
    background: linear-gradient(90deg, rgba(43,9,9,1) 0%, rgba(12,15,48,1) 100%);
}

.logo a {
    color: white;
    font-size: 32px;
    font-weight: 600;
}

.logo a:hover {
    color: white;
}